*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-sarif;
}


.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1{
  color:#ff2626;
  text-align:center;
  font-size:30px;
  margin-bottom:20px;
  background-image: linear-gradient(to right, #fce1f6 , #7ddbcf,#fac457);
  padding: 10px 30px 10px 30px;
  border-radius:10px;
}

iframe{
  width: 100%;
  height: 500px;
  filter: invert(100%);
}

.time{
  background-image: linear-gradient(to right, #fc72de , #db7d7d,#00b58e);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  border-radius: 40%;
  font-weight: bold;
  color: #fff;
}

span{
  padding-bottom: 5px;
  font-size:20px;
  font-weight: bold;
  color: #f56522;
  
}