@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

html,body {
  width: 100%;
  height: 100vh; 
}

body {
  width:110vw;
  
  margin-left:2%;
  margin-right:2%;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #d57cd6);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
   
h1{
  font-size: 34px;
  margin-top: 10;
  margin-bottom:5px;
  font-family: 'Ubuntu', sans-serif;
  	text-align: center;
	color: #fff;
	background-image: -webkit-linear-gradient(92deg, #001da1, #ff1414);
-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 6s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.home{
  text-align: center;
}

.para{
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  width:100%;
  background: -webkit-linear-gradient(-86deg, #EEF85B 5%, #7AEC8D 53%, #09E5C3 91%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #232d2d;
}

.pro{
  font-family: sans-serif;
  text-align:center;
  font-size: 35px;
    font-weight: bold;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


h2,h3,
.message {
  font-family:'Poppins', sans-serif;
}
  
.thought{
  font-weight: bold;
  color:#005266;
  background-image: linear-gradient(to right, #fce1ec , #ffc691);
  border-radius:5px;
  font-size:13.5px;
  text-align: left;
  width: 110%;
  margin-top:10px;
}

.mypic{
  padding-right:80px;
  height:180px;
  width:160px;
  border-radius:20% 50%;
  }

.resume{
  text-align:center;
  margin-top:15px;
}

.btn{
  border-radius:20px;
  background: linear-gradient(-45deg, #2151ed, #e820b0, #2270d6, #f76300);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.btn a{
  font-weight: bold;
  text-align:center;
  font-size:23px;
  color: #d4f9ff;
  
}

.btnicon{
  text-align:center;
  height: 22px;
  padding-left:10px;
  padding-right:5px;
}

h2,h3 {
  color:#fff;
  text-align: center;
  font-weight:bold;
  font-size:25px;
}

.icontable{
  background-image: linear-gradient(to right, #fce1f6 , #7ddbcf,#fac457);
  font-size:16px;
  font-weight: bold;
  color: #0000e0;
  border-radius:5px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
  margin-right:2%;
}

.svgicon{
  height:25px;
  margin:8px;
  float: left;
  vertical-align: middle;
  line-height:30px; 
}

.svglink{
  font-size: 15px;
}

a{
  text-decoration:none;
  font-size: 14px;
}

.img{
  border-radius:50%;
  width:42px;
  height:42px;
  margin:3px;
  background: #fff;
  }

.bio {
  border-radius:5px;
  background:-webkit-linear-gradient(#c1f5f3, #ebfff311);
  color:#003e40;
  font-size: 15px;
  font-weight:bold;
  width:103%;
  
  padding: 0.5px 15px 0.5px 15px;
  text-align:left;
  }

.details, .project{
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 110%;
}

.project td, .project th,
.details td, .details th{
  border: 1px solid #38929c;
  padding: 5px;
}

.project tr:nth-child(even),
.details tr:nth-child(even){
  background-color: #fff5e6;
}

.project tr:hover,
.details tr:hover {background-color: #ddd;}
.thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
  }

li{
  text-align: left;
}

.skills, .language, .hobbi {
  background: -webkit-linear-gradient(#abe2f5, #1c37ff11);
  border-radius:5px;
  padding:5px;
  width: 110%;
  margin-right:1%;
}

.prog,.eng, .hindi{
  background:#fff5f6;
  border-radius:5px;
  padding:5px;
  font-weight:bold;
  margin:3px;
  color:#0a5663;
  background-image: linear-gradient(to right, #fcdc79 , #ffabd2);
  text-align:center;
}

.hobbi, .language, .skills {
  display :grid;
  grid-template-columns:auto auto;
  
}
.row > div{
  text-align:center;
}

.hbb{
  border-radius:5px;
  background-image: linear-gradient(to right, #fcd253 , #bfffbd);
  margin:2px;
  padding:2px;
  font-weight:bold;
  color: #006569;
  
}

h3 {
  font-size: 20px;
}

.fields{
  direction: flex;
}

.fields, .field{
  height: 45px;
  width: 100%;
  margin-bottom:15px;
}

.textarea{
  height: 80px;
  width: 100%;
}

.name{
  margin-right:10px;
}

.field input, .textarea textarea{
  height: 100%;
  width: 102%;
  border: 1px solid lightgrey;
  border-radius:6px;
  outline:none;
  padding:0 15px;
  font-size:17px;
  transition: all 0.3s ease;
}

.field input:focus, .textarea textarea:focus {
  border-color:#b3b3b3;
}

.textarea textarea {
  padding-top:10px;
  resize: none;
  }


.button-area {
  display:flex;
  align-items:center;
}

.button-area button{
  color:#fff;
  display:block;
  width: 160px!important;
  height:45px;
  outline:none;
  font-size:18px;
  font-weight:500;
  border-radius:8px;
  cursor: pointer;
  flex-wrap:nowrap;
  background-image: linear-gradient(to right, #c24c15,#fa0c0c);
  border: 2px solid crimson;
  transition: all 0.3s wase
}

.button-area button:hover{
  color: crimson;
  background:none;
}

.links{
  background:-webkit-linear-gradient(#ff40ec, #1df25d11);
  border-radius:5px;
  text-align:center;
  width: 110%;
  }

footer {
  margin-top:4px;
    background: #111;
    padding:15px 23px;
    color: #fff;
    text-align: center;
  border-radius:5px;
  width: 100%;

}

footer span a {
    color: crimson;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}